.pointsContainer{
    width: 600px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    .pointBox{
        margin-top: 20px;
        font-size: 2em;
        font-weight: bold;
        .points{
            border: 2px solid black;
            box-sizing: border-box;
        }
    }
}